body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f3f3f3;
}

.header {
    background-color: #004E89;
    color: white;
    width: 100%;
    margin:0 0 5% 0;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.login-container {
    background: #fff;
    margin: 0 0 5% 0;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #004E89;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #004E89;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.login-button a{
    color: white;
}

.login-button:hover {
    background-color: #7EC8E3;
}

.forgot-password {
    font-size: 14px;
    margin-top: 10px;
}

.forgot-password a {
    color: #0056b3;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.Logo {
    margin-top: 0px;
}

.Logo img {
    height: 50px;
}