body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #f3f3f3;
}

.header {
    background-color: #004E89;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
}

.login-container {
    background: #fff;
    margin: auto;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 76%;
    text-align: center;
}

.login-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #004E89;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #004E89;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 10px;
}

.login-button a{
    color: white;
}

.login-button:hover {
    background-color: #004e89e5;
}

.forgot-password {
    font-size: 14px;
    margin-top: 10px;
}

.forgot-password a {
    color: #0056b3;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
.Logo{
    position: static;
    margin-top: 5%;
    bottom: 0;
    
}

.Logo img {
    height: 50px;
}
/*Tablet*/
@media (min-width: 768px ) {
    .login-container { width: 300px;}
    
}
/*desktop*/
@media (min-width: 1024px ) {
    .login-container { width: 300px;}
    
}