body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #f3f3f3;
}

.header-logo {
    background-color: #004E89;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
.Logo{
    position: static;
    display: flex;
    justify-content: center;
}

.Logo img {
    border-radius: 100vw;
    width: 30%;
}
.botao-perfil{
    position: absolute;
    bottom: 0;
    top: 5px;
    left: 3px;
    height: 20px;
    border: none;
    background-color: #004E89;
    color: white;
    cursor: pointer;
}
.botao-notificacoes{
    position: fixed;
    bottom: 0;
    top: 5px;
    right: 3px;
    height: 20px;
    border: none;
    background-color: #004E89;
    color: white;
}
.botao-notificacoes img{
    height: 10px;
    display: flex;
}

.header{
    text-align: center;
    font-size: 15px;
}

.mapa img{
    position: relative;
    margin: 0 20%;
    align-items: center;
    border-radius: 10px;
    width: 70%;
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
    .mapa img { width: 100%;}
}
/*desktop*/
@media (min-width: 1024px) and (max-width: 1440px) {
    .mapa img { width: 100%;}
}

.botoes{
    display: block;
}


.btn-oferecer {
    width: 100%;
    padding: 10px;
    background-color: #004E89;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 10px;
}

.btn-oferecer a{
    color: white;
}

.btn-oferecer:hover {
    background-color: #004e89e5;
}
.btn-procura {
    width: 100%;
    padding: 10px;
    background-color: #004E89;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 10px;
}

.btn-procura a{
    color: white;
}

.btn-procura:hover {
    background-color: #004e89c4;
}